html,
body {
  width: 100%;
  height: 100%;
  background-color: rgb(48, 48, 48);
  overflow: hidden;
  margin-top: -1vh;
}

#TimerContainer {
  width: fit-content;
  height: 40%;
  margin: auto;
  background-color: rgba(48, 48, 48, 0.089);
  min-width: 200px;
  min-height: 200px;
  margin-top: 11.5vh;
  min-height: 300px;
}

#Numbers {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 10vh 10vh 10vh;
  justify-content: center;
  grid-gap: 15px 15px;
}

#Numbers button {
  border-radius: 5%;
  min-width: 50px;
  min-height: 50px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  background-color: rgb(245, 245, 245);
  color: rgb(0, 0, 0);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2vh;
}

#Time {
  justify-content: center;
  width: 100%;
  display: flex;
  font-size: 13vh;
  letter-spacing: 0.09em;
  margin-top: 10%;
  color: aliceblue;
  text-shadow: black 5px 12px;
}

#start {
  text-decoration: underline;
}

#ThePage {
  height: 100%;
  width: 00px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;

}

#ThePage div{
  padding: 8px 8px 8px 32px;
  font-size: small;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

#openButton{
  margin-left: 0px;
  justify-content: center;
  align-items: center;
  width: 50px;
}

#openButton button{
    width: 50px;
    height: 50px;
    box-shadow: 5px 2px 2px rgba(63, 62, 62, 0.384);
    margin:auto;
    margin-top: 10px;

}

 icon-icon{
  width: 500px;
  height: 500px;
}

#ThePage button{
    width: 80%;
    height: 50px;
    box-shadow: 5px 5px 5px rgb(63, 62, 62);
}

#ThePage input{
    width: 80%;
    height: 30px;
    box-shadow: 10px 5px 5px rgb(63, 62, 62);
}


#Reset {
  width: 100%;
  position: fixed;
  z-index: 1;
  display: none;
  justify-content: center;
  background-color: transparent;
  transition: 0.9s;

  
}

#Reset button{
  width: 200px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.144);
  border: 3px solid black;
  transition: 0.9s;


}

#openButton:hover{
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}