html,
body {
  width: 100%;
  height: 100%;
  background-color: rgb(48, 48, 48);
  overflow: hidden;
  position: relative;
  
}

#TimerContainer {
<<<<<<< HEAD
  width: fit-content;
  height: 40%;
  margin: auto;
  background-color: rgba(48, 48, 48, 0.089);
  min-width: 200px;
  min-height: 200px;
  margin-top: 11.5vh;
  min-height: 300px;
}

#Numbers {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 10vh 10vh 10vh;
  justify-content: center;
  grid-gap: 15px 15px;
}
=======
    width: fit-content;
    height: 40%;
    margin: auto;
    background-color: rgba(48, 48, 48, 0.089);
    min-width: 200px;
    min-height: 200px;
    margin-top: 14vh;
    min-height: 300px;
>>>>>>> 55749fd799b6e10a0de7919de16b865915020f0f

#Numbers button {
  border-radius: 5%;
  min-width: 50px;
  min-height: 50px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  background-color: rgb(245, 245, 245);
  color: rgb(0, 0, 0);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2vh;
}

#Time {
  justify-content: center;
  width: 100%;
  display: flex;
  font-size: 15vh;
  letter-spacing: 0.09em;
  margin-top: 10%;
  color: aliceblue;
  text-shadow: black 5px 12px;
}

#start {
  text-decoration: underline;
}

#ThePage {
  height: 100%;
  width: 00px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;

}

#ThePage div{
  padding: 8px 8px 8px 32px;
  font-size: small;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

#openButton button{
    width: 100px;
    height: 40px;
    box-shadow: 10px 5px 5px rgb(63, 62, 62);

    
}

<<<<<<< HEAD
#CloseButton button{
    width: 80%;
    height: 50px;
    box-shadow: 10px 5px 5px rgb(63, 62, 62);
}

#ThePage input{
    width: 80%;
    height: 30px;
    box-shadow: 10px 5px 5px rgb(63, 62, 62);
}


=======
#start{
    text-decoration: underline;
}
>>>>>>> 55749fd799b6e10a0de7919de16b865915020f0f
